body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.layout {
  padding: 20px;
}

.share {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 0 5px;
}

.advice-card {
  text-align: center;
}

.footer {
  text-align: center;
}