body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

#root {
  width: 100%;
  max-width: 600px;
}

.layout {
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
}

.share {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 0 5px;
}

.advice-card {
  text-align: center;
  min-width: 500px;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 580px) {
  .advice-card {
    min-width: 350px;
  }
}